/* Aeroport */

@font-face {
  font-family: 'Aeroport';
  src: url('aeroport/Aeroport-regular.eot');
  src:
       url('aeroport/Aeroport-regular.eot?#iefix') format('embedded-opentype'),
       url('aeroport/Aeroport-regular.woff2') format('woff2'),
       url('aeroport/Aeroport-regular.woff') format('woff'),
       url('aeroport/Aeroport-regular.ttf') format('truetype'),
       url('aeroport/Aeroport-regular.svg#Aeroport') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Basic Rules */

* {
  font-family: "Aeroport", "Helvetica", sans-serif;
  font-weight: normal;
  line-height: 110%;
  color: #222222;
}

body {
  background-color: #f5f5f5;
}

h1, footer, .switcher, a {
  color: ;
}

table td, .subtitle {
  vertical-align: top;
  font-size: 66%;
}

.container {
  display: grid;
}

.container div {
  display: flex;
  background-color: #f3f3f3;
  aspect-ratio: 1;
  justify-content: left;
  background-size: cover;
  scroll-snap-type: y mandatory;
}

footer, .switcher {
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  position: fixed;
}

span, span a, .subheader, .hidden, .hidden a {
  color: #BAA697;
}

p {
  margin-bottom: 0;
}

.about p:first-child, .credits p:first-child {
  margin-block-start: 0;
}

.about img {
  width: inherit;
  margin-top: 2vw;
  width: 100%;
}


.sketches {
  background: #121214;
  display: block;
  position: relative;
  width: 96vw;
  padding: 2vw;
  margin-top: 2vw;
  left: -2vw;
}

.sketches img, .sketches p {
  width: 63.3vw;
}

.sketches p {
  color: #f3f3f3;
}

.hidden {
    color: #BAA697;
    max-height:0px;
    margin: 0;
    overflow: hidden;
    -webkit-transition: max-height, 0.5s;
    -moz-transition: max-height, 0.5s;
    -ms-transition: max-height, 0.5s;
    -o-transition: max-height, 0.5s;
    transition: max-height, 0.5s;
}

.hidden.open {
    max-height: 500px;
    margin-top: 2vw;
     -webkit-transition: max-height, 0.5s;
    -moz-transition: max-height, 0.5s;
    -ms-transition: max-height, 0.5s;
    -o-transition: max-height, 0.5s;
    transition: max-height, 0.5s;
}

.whiteLink a {
  color: white;
}



/* Media Queries */

@media screen and (min-width: 0px) {
  h1, h2, h3, div, body {
    font-size: 6vw;
  }

  .margintop {
    margin-top: 20vw;
  }

  body {
    margin: 5vw;
    padding-bottom: 50vw;
  }

  td {
    padding-right: 5vw;
  }

  .spacer {
    padding-bottom: 5vw;
  }

  .about, .credits {
    margin-top: 5vw;
  }

  .header {
    display: block;
    height: 90vw;
  }

  .header h1 {
    position: sticky;
    top: 5vw;
  }

  .container {
    margin-top: 5vw;
    grid-template-columns: 1fr;
    grid-gap: 5vw;
  }

  .container div, footer, .switcher {
    padding: 5vw;
  }

  .about, .cv p {
    width: auto;
  }

  .sketches {
    width: 90vw;
    padding: 5vw;
    margin-top: 5vw;
    left: -5vw;
  }

  .sketches img, .sketches p {
    width: 90vw;
  }

  li, li p {
    margin-bottom: 5vw;
  }

  ol {
    padding-inline-start: 9vw;
  }



}

@media screen and (min-width: 560px) {
  h1, h2, h3, div, body {
    font-size: 5vw;
  }

  body {
    margin: 3vw;
    padding-bottom: 12vw;
  }

  td {
    padding-right: 3vw;
  }

  .spacer {
    padding-bottom: 3vw;
  }

  .about {
    margin-top: 3vw;
  }

  .header {
    display: block;
    height: 45vw;
  }

  .header h1 {
    position: sticky;
    top: 3vw;
  }

  .container {
    margin-top: 3vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vw;}

  .container div, footer, .switcher {
    padding: 3vw;
  }

  .about, .cv p {
    width: 94vw;
  }

  .sketches {
    width: 94vw;
    padding: 3vw;
    margin-top: 3vw;
    left: -3vw;
  }

  .sketches img, .sketches p {
    width: 80vw;
  }


  li, li p{
    margin-bottom: 3vw;
  }

  ol {
    padding-inline-start: 7vw;
  }
}

@media screen and (min-width: 960px) {
  h1, h2, h3, div, body {
    font-size: 3vw;
  }

  body {
    margin: 1vw;
    padding-bottom: 12vw;
  }

  td {
    padding-right: 1vw;
  }

  .spacer {
    padding-bottom: 1vw;
  }

  .about {
    margin-top: 1vw;
  }


  .header {
    display: block;
    height: 30vw;
  }

  .header h1 {
    position: sticky;
    top: 1vw;
  }

  .container {
    margin-top: 1vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
  }

  .container div, footer, .switcher {
    padding: 1vw;
  }

  .about, .cv p, li {
    width: 63.3vw;
  }

  .sketches {
    width: 98vw;
    padding: 1vw;
    margin-top: 1vw;
    left: -1vw;
  }

  .sketches img, .sketches p {
    width: 63.3vw;
  }

  li, li p {
    margin-bottom: 1vw;
  }

  ol {
    padding-inline-start: 4.5vw;
  }
}

@media screen and (min-width: 2400px) {
  h1, h2, h3, div, body {
    font-size: 2vw;
  }

  body {
    margin: 1vw;
    padding-bottom: 12vw;
  }

  td {
    padding-right: 1vw;
  }

  .spacer {
    padding-bottom: 1vw;
  }

  .about {
    margin-top: 1vw;
  }

  .header {
    display: block;
    height: 20vw;
  }

  .header h1 {
    position: sticky;
    top: 1vw;
  }

  .container {
    margin-top: 1vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
  }

  .container div, footer, .switcher {
    padding: 1vw;
  }

  .about, .cv p, li {
    width: 48vw;
  }

  .sketches {
    width: 98vw;
    padding: 1vw;
    margin-top: 1vw;
    left: -1vw;
  }

  .sketches img, .sketches p {
    width: 48vw;
  }

  li, li p{
    margin-bottom: 1vw;
  }

  ol {
    padding-inline-start: 3vw;
  }
}
