/* Aeroport */

@font-face {
  font-family: 'Aeroport';
  src: url('aeroport/Aeroport-regular.eot');
  src:
       url('aeroport/Aeroport-regular.eot?#iefix') format('embedded-opentype'),
       url('aeroport/Aeroport-regular.woff2') format('woff2'),
       url('aeroport/Aeroport-regular.woff') format('woff'),
       url('aeroport/Aeroport-regular.ttf') format('truetype'),
       url('aeroport/Aeroport-regular.svg#Aeroport') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Basic Rules */

* {
  font-family: "Aeroport", "Helvetica", sans-serif;
  font-weight: normal;
  line-height: 110%;
  color: #222222;
}

.container {
  display: grid;
}

.container div {
  display: flex;
  background-color: #f3f3f3;
  aspect-ratio: 1;
  justify-content: left;
  background-size: cover;
}

footer, .switcher {
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  position: fixed;
}

span, span a, .subheader, .hidden, .hidden a {
  color: #BAA697;
}

p {
  margin-bottom: 0;
}

/* Media Queries */

.hidden {
    color: #BAA697;
    max-height:0px;
    margin: 0;
    overflow: hidden;
    -webkit-transition: max-height, 0.5s;
    -moz-transition: max-height, 0.5s;
    -ms-transition: max-height, 0.5s;
    -o-transition: max-height, 0.5s;
    transition: max-height, 0.5s;
}

.hidden.open {
    max-height: 500px;
    margin-top: 2vw;
     -webkit-transition: max-height, 0.5s;
    -moz-transition: max-height, 0.5s;
    -ms-transition: max-height, 0.5s;
    -o-transition: max-height, 0.5s;
    transition: max-height, 0.5s;
}



/* Media Queries */

@media screen and (min-width: 0px) {
  h1, h2, h3, div, body {
    font-size: 6vw;
  }

  .margintop {
    margin-top: 20vw;
  }

  body {
    margin: 5vw;
    padding-bottom: 50vw;
  }

  .header {
    display: block;
    height: 90vw;
  }

  .container {
    margin-top: 5vw;
    grid-template-columns: 1fr;
    grid-gap: 5vw;
  }

  .container div, footer, .switcher {
    padding: 5vw;
  }

  .about, .cv p {
    width: 90vw;
  }

  ol li, ol li p, ol li {
    margin-bottom: 5vw;
  }

  ol {
    padding-inline-start: 9vw;
  }

}

@media screen and (min-width: 560px) {
  h1, h2, h3, div, body {
    font-size: 5vw;
  }

  body {
    margin: 3vw;
    padding-bottom: 12vw;
  }

  .header {
    display: block;
    height: 45vw;
  }

  .container {
    margin-top: 3vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vw;}

  .container div, footer, .switcher {
      padding: 3vw;
  }

  .about, .cv p {
    width: 80vw;
  }

  ol li, ol li p, ol li {
    margin-bottom: 3vw;
  }

  ol {
    padding-inline-start: 7vw;
  }
}

@media screen and (min-width: 960px) {
  h1, h2, h3, div, body {
    font-size: 3vw;
  }

  body {
    margin: 2vw;
    padding-bottom: 12vw;
  }

  .header {
    display: block;
    height: 31vw;
  }

  .container {
    margin-top: 2vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
  }

  .container div, footer, .switcher {
    padding: 2vw;
  }

  .about, .cv p, ol li {
    width: 63.3vw;
  }

  ol li, ol li p {
    margin-bottom: 2vw;
  }

  ol {
    padding-inline-start: 4.5vw;
  }

}
